$icomoon-font-family: "suf-icons" !default;
$icomoon-font-path: "fonts" !default;

$suf-point: "\e909";
$suf-divide: "\e908";
$suf-math-root: "\e907";
$suf-backspace: "\e906";
$suf-close-2: "\e900";
$suf-fraction-1: "\e901";
$suf-minimise: "\e902";
$suf-restore-window: "\e903";
$suf-square: "\e904";
$suf-squared: "\e905";

